h1 {
    color: red;
    font-family: 'Helvetica Neue', serif;
    font-size: 100px;
    font-weight: 10000;
    letter-spacing: 200px;
    line-height: 2;
    text-align: left;
}

p {
    color: rgb(45, 160, 93);
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 1000;
    font-size: 140px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: right;
    text-justify: inter-word;
}

textarea {
    margin: 20px;
    width: 300px;
    height: 150px;
}

ul, ol {
    margin: 20px;
    padding: 0;
    color: maroon;
    font-size: 150px;
    font-weight: 1000;
    text-align: right;
    font-style: italic;
    transform: rotate(-45deg);
}

li {
    border-bottom: 1px solid #ccc;
}
   
li:last-child {
    border: none;
}

form {
    height:110px;
    width:390px;
    margin-bottom: initial;
    border:10px #CCC solid;
    padding:10px;
}
textarea {
    background-image: url("smiley\ face.jpeg");
}
    
input, textarea {
    padding:5px;
    margin:5px
}

body {
    background-image: url("image.png");
}

h3 {
    font-size: 50px;
    font-style: oblique;
}